[submodule "themes/terrassa"]
	path = themes/terrassa
	url = https://github.com/danielkvist/hugo-terrassa-theme.git
[submodule "themes/grayscale"]
	path = themes/grayscale
	url = https://github.com/runningstream/hugograyscale.git
